body {
	margin: 0;
	height: 100vh;
	display: flex;
	overflow: hidden;
}

#editor {
	/* width: 50%; */
	height: 100%;
	flex: 1;
}

#viewer {
	/* width: 50%; */
	/* height: 100%; */
	background: #111;

	position: absolute;
	width: 500px;
	height: 500px;
	resize: both;
	bottom: 32px;
	right: 32px;
	z-index: 9999;

	/* border-radius: 8px; */
	border: 1px solid black;

}

.vertical {
	display: flex;
	flex-direction: column;
}

.horizontal {
	display: flex;
	flex-direction: row;
}

.actions {
	display: flex;
	gap: 16px;
	padding: 8px;
	background-color: #1e1e1e;
}

#runBtn {
	/* position: absolute;
	top: 8px;
	left: 8px; */
	padding: 6px 12px;
	border: 1px solid #555;
	background: #333;
	color: white;
	cursor: pointer;
	z-index: 10;
}

.inline-slider-spacer {
	display: inline-block;
	width: calc(140px + 9ch);
	/* space pushed into the line */
	/* text-align: end; */
	vertical-align: middle;
	position: relative;
}

.inline-slider-spacer::after {
	content: "default: ";
	white-space: pre;
	display: inline-block;
	text-align: end;
	opacity: 0.38;
	position: absolute;
	right: 0;
	color: white;
}

.inline-checkbox-spacer {
	display: inline-block;
	width: calc(86px + 9ch);
	/* space pushed into the line */
	/* text-align: end; */
	vertical-align: middle;
	position: relative;
}

.inline-checkbox-spacer::after {
	content: "default: ";
	white-space: pre;
	display: inline-block;
	text-align: end;
	opacity: 0.38;
	position: absolute;
	right: 0;
	color: white;
}

.widget-container {
	background: rgba(255, 255, 255, 0.10);
	border-radius: 4px;
	/* padding: 4px 8px; */
	display: inline-flex;
	gap: 4px;
}

.inline-slider {
	position: absolute;
	left: 0;
	top: -2px;
	width: 120px;

	& input:first-of-type {
		width: 100%;
		margin-left: 4px
	}

	& input:nth-of-type(2) {
		width: 4ch;
		background: transparent;
		border: none;
		color: #b5cea8;
		outline: none;
		border-left: 1px solid rgba(255, 255, 255, 0.10);
		font-family: Consolas, "Courier New", monospace;
		font-weight: normal;
		font-size: 14px;
		font-feature-settings: "liga" 0, "calt" 0;
		font-variation-settings: normal;
		line-height: 19px;
		letter-spacing: 0px;


		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			/* display: none; <- Crashes Chrome on hover */
			-webkit-appearance: none;
			margin: 0;
			/* <-- Apparently some margin are still there even though it's hidden */
		}

		&[type=number] {
			-moz-appearance: textfield;
			/* Firefox */
		}
	}
}

.inline-checkbox {
	position: absolute;
	left: 0;
	top: -2px;
	width: 66px;

	& span {
		color: #569cd6;
		font-family: Consolas, "Courier New", monospace;
		font-weight: normal;
		font-size: 14px;
		font-feature-settings: "liga" 0, "calt" 0;
		font-variation-settings: normal;
		line-height: 19px;
		letter-spacing: 0px;
	}
}